<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body style="margin-top: 30px; margin-bottom:30px;
background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRE9OJZ-_dbnuL6-xERzZZ8oMxRALK9gzwF0Q&usqp=CAU');background-repeat: no-repeat; background-size: cover; font-family:'Copperplate',monospace;">
<div class="row">
  <div class="col-3"></div>
  <div class="col-6">


<div class="container">
<div class="card" style="border-width:2px;border-color:#828282; box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;">
<div class="card-header" style="background-color:white;">

<h2 style="text-align: center;">Fill this form</h2>
</div>
<div class="card-body" style="background-color: rgba(0, 0, 0, 0.137);">
<form action="/results" method="POST">
<div class="form-floating mb-3 mt-3">
  <select class="form-select" id="gender" name="gender" aria-label="gender">
    <option selected>.</option>
    <option value="1">Male</option>
    <option value="0">Female</option>
  </select>
  <label for="gender">Gender</label>
</div>
<div class="form-floating mb-3 mt-3">
<input type="number" class="form-control" id="perc10" name="perc10" placeholder="10th Percentage"><label for="perc10">10th Percentage</label>
</div>
<div class="form-floating mb-3 mt-3">
<input type="number" class="form-control" id="perc12" name="perc12" placeholder="12th Percentage"><label for="perc12">12th Percentage</label>
</div>
<div class="form-floating mb-3 mt-3">
<select class="form-select" id="stream" aria-label="Stream" name="stream">
  <option selected>.</option>
  <option value="2">Science</option>
  <option value="1">Commerce</option>
  <option value="0">Arts</option>
</select>
<label for="stream">Stream</label>
</div>
<div class="form-floating mb-3 mt-3">
<input type="number" class="form-control" id="percgrad" name="percgrad" placeholder="Graduation Percentage"><label for="percgrad">Graduation Percentage</label>
</div>
<div class="form-floating mb-3 mt-3">
<select class="form-select" id="workex" aria-label="Any previous Work Experience?" name="workex">
  <option selected>.</option>
  <option value="1">Yes</option>
  <option value="0">No</option>
</select>
<label for="workex">Any previous Work Experience?</label>
</div>
<div class="form-floating mb-3 mt-3">
<input type="number" class="form-control" id="percmba" name="percmba" placeholder="MBA Percentage"><label for="percmba">MBA Percentage</label>
</div>
    <input type="submit" class="btn btn-outline" style="background-color: white; border-color:black;">

</form>
</div>
</div>
</div>
</div>
  <div class="col-3"></div>
</div>
</body>
</html>